@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
		format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

:root {
	--break-point-desktop: 1440px;
	--color-primary: hsl(75, 94%, 57%);
	--color-primary-dark: hsl(75, 94%, 42%);
	--color-primary-light: hsl(75, 94%, 72%);
	--grey-900: hsl(0, 0%, 8%);
	--grey-800: hsl(0, 0%, 12%);
	--grey-700: hsl(0, 0%, 20%);
	--white: hsl(0, 0%, 100%);
	--primary-font: 'Inter', Arial, Helvetica, sans-serif;
	--font-size: 1.4rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--primary-font);
	font-size: var(--font-size);
	line-height: 1.6;
	color: var(--white);
	background-color: var(--grey-900);
	height: 100vh;
	width: 100vw;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-primary);
}
